/* line 6, ../sass/stylesheet.sass */
html {
  height: 100%;
}

@media screen and (max-device-width: 480px) {
  /* line 9, ../sass/stylesheet.sass */
  #contentsBox {
    display: none;
  }
}
@media screen and (min-device-width: 481px) {
  /* line 9, ../sass/stylesheet.sass */
  #contentsBox {
    display: inline-block;
    vertical-align: top;
    width: 18%;
  }
}

/* line 17, ../sass/stylesheet.sass */
#contents {
  margin-top: 5em;
}

/* line 21, ../sass/stylesheet.sass */
#documentBox {
  display: inline-block;
  vertical-align: top;
}
@media screen and (min-device-width: 481px) {
  /* line 21, ../sass/stylesheet.sass */
  #documentBox {
    width: 61%;
  }
}

/* line 27, ../sass/stylesheet.sass */
#document {
  display: inline-block;
}
@media screen and (max-device-width: 480px) {
  /* line 27, ../sass/stylesheet.sass */
  #document {
    width: 90%;
  }
}
@media screen and (min-device-width: 481px) {
  /* line 27, ../sass/stylesheet.sass */
  #document {
    margin-left: 4em;
    width: 30em;
    font-size: 1.05em;
  }
}

@media screen and (max-device-width: 480px) {
  /* line 36, ../sass/stylesheet.sass */
  #referencesListBox {
    display: none;
  }
}
@media screen and (min-device-width: 481px) {
  /* line 36, ../sass/stylesheet.sass */
  #referencesListBox {
    display: inline-block;
    vertical-align: top;
    width: 20%;
  }
}

/* line 44, ../sass/stylesheet.sass */
#page {
  position: relative;
  margin: 1em;
  height: 100%;
}

/* line 49, ../sass/stylesheet.sass */
#pageTitle {
  position: relative;
  width: 100%;
  height: 85%;
}
@media screen and (max-device-width: 480px) {
  /* line 49, ../sass/stylesheet.sass */
  #pageTitle {
    width: 100%;
  }
}

@media screen and (max-device-width: 480px) {
  /* line 59, ../sass/stylesheet.sass */
  #pageImage {
    width: 100%;
  }
}
@media screen and (min-device-width: 481px) {
  /* line 59, ../sass/stylesheet.sass */
  #pageImage {
    position: absolute;
    width: 100%;
    bottom: 0%;
  }
}

/* line 67, ../sass/stylesheet.sass */
body {
  margin: 0em;
  font-size: 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
@media screen and (min-device-width: 481px) {
  /* line 67, ../sass/stylesheet.sass */
  body {
    height: 100%;
  }
}

/* line 74, ../sass/stylesheet.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: Book Antiqua, Palatino Linotype, serif;
}

/* line 77, ../sass/stylesheet.sass */
h1 {
  position: absolute;
  margin-left: 18%;
  margin-right: 15%;
  color: #fefefe;
  text-shadow: 1px 1px 1px black;
}
@media screen and (max-device-width: 480px) {
  /* line 77, ../sass/stylesheet.sass */
  h1 {
    top: 20%;
    font-size: 2.5em;
  }
}
@media screen and (min-device-width: 481px) {
  /* line 77, ../sass/stylesheet.sass */
  h1 {
    top: 65%;
    font-size: 3em;
  }
}

/* line 90, ../sass/stylesheet.sass */
h2 {
  font-size: 2.2em;
}

/* line 93, ../sass/stylesheet.sass */
h3 {
  font-size: 1.6em;
  margin-top: 0.5em;
}

/* line 97, ../sass/stylesheet.sass */
h4,
h5,
h6 {
  font-size: 1.3em;
}

/* line 102, ../sass/stylesheet.sass */
p {
  /* :max-width $max-width */
  margin-left: 2em;
  line-height: 1.5em;
}

/* line 107, ../sass/stylesheet.sass */
li {
  line-height: 1.5em;
}

/* line 111, ../sass/stylesheet.sass */
.no-dot {
  list-style-type: none;
  margin: 1em;
}

/* Classes of content */
/* line 117, ../sass/stylesheet.sass */
.refID {
  color: #000099;
}

@media screen and (min-device-width: 481px) {
  /* line 120, ../sass/stylesheet.sass */
  .refID:hover,
  .conID:hover {
    -webkit-transition: color 0.15s ease-in;
    -moz-transition: color 0.15s ease-in;
    -o-transition: color 0.15s ease-in;
    transition: color 0.15s ease-in;
    color: #009900;
  }
}

/* Questions and Answers */
/* line 133, ../sass/stylesheet.sass */
#question {
  display: block;
}

/* line 136, ../sass/stylesheet.sass */
#answer {
  display: block;
}

/* line 139, ../sass/stylesheet.sass */
#comment {
  display: block;
}

/* Examples */
/* line 144, ../sass/stylesheet.sass */
#examples {
  border-left: 1em solid #6699cc;
  padding: 1em;
  margin-left: 2em;
  width: 30em;
}

/* line 150, ../sass/stylesheet.sass */
#method #examples {
  margin-left: 0;
}

/* Method */
/* line 155, ../sass/stylesheet.sass */
#method {
  border-left: 1em solid #996600;
  padding: 1em;
  margin-left: 2em;
  width: 30em;
}

/* line 161, ../sass/stylesheet.sass */
#method li {
  margin: 1em;
}

/* line 164, ../sass/stylesheet.sass */
#examples #method {
  margin-left: 0;
}

/* line 167, ../sass/stylesheet.sass */
#method #method {
  border: none;
}

/* System */
/* line 172, ../sass/stylesheet.sass */
#system {
  padding: 1em;
  background-color: #ddddcc;
  margin-left: 2em;
  width: 30em;
}

/* line 178, ../sass/stylesheet.sass */
#system li {
  margin: 1em;
}

/* Resource */
/* line 183, ../sass/stylesheet.sass */
#resource {
  padding: 1em;
  border-left: 1em solid #99ff99;
  max-width: 20em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 2em;
  width: 20em;
}

/* Tips */
/* line 194, ../sass/stylesheet.sass */
#tips {
  padding: 1em;
  background-color: #ddccdd;
  border: solid 0px;
  border-radius: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 2em;
  width: 30em;
}

/* Contributors & References */
/* line 207, ../sass/stylesheet.sass */
#referenceList {
  height: 100%;
  overflow: auto;
  margin: 1em;
  padding: 1em;
  line-height: 1.5em;
}

/* line 214, ../sass/stylesheet.sass */
#reference {
  margin: 0.3em;
  padding: 0.3em;
  border: solid 1px #aaaaaa;
}

/* line 219, ../sass/stylesheet.sass */
.Amazon {
  float: right;
}

/* line 222, ../sass/stylesheet.sass */
.refHover {
  background-color: #ddeeff;
}

/* line 225, ../sass/stylesheet.sass */
.conHover a {
  color: #009900;
  -webkit-transition: color 0.15s ease-in;
  -moz-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}
